<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodayNan"
        android:name=".base.KaKaoApplication"
        tools:targetApi="31">

<!--        <meta-data-->
<!--            android:name="com.naver.maps.map.CLIENT_ID"-->
<!--            android:value="hc3xqrgw2z" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBF-wWqy8QgwB1xGxXsTMFhXuESml6TsL8"/>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="@string/kakao_key" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.signup.SignUpActivity"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.signup.Page1SignUpActivity"/>
        <activity android:name=".ui.signup.Page2SignUpActivity"/>
        <activity android:name=".ui.signup.Page3SignUpActivity"/>
        <activity android:name=".ui.signup.Page8SignUpActivity"/>
    </application>

</manifest>